---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Sheet from "../components/Sheet.svelte";
---

<Layout>
  <div class="py-10 px-10 print:p-0 max-w-3xl mx-auto">
    <div class="text-center print:hidden mb-10">
      <Logo />
    </div>

    <div
      class="bg-white border-gray-200 border mx-auto shadow-lg p-10 print:border-0 print:shadow-none"
    >
      <Sheet client:load />
    </div>
    <div class="text-center mt-8 text-gray-500 print:hidden">
      create by <a href="https://papazeal.com">papazeal.com</a>
    </div>
  </div>
</Layout>
