---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Sheet from "../components/Sheet.svelte";

function generateRandomMathProblems(count: number) {
  const operators = ["+", "-", "×"];
  const problems = [];

  for (let i = 0; i < count; i++) {
    let a = Math.floor(Math.random() * 20) + 1;
    let b = Math.floor(Math.random() * 20) + 1;
    let operator = operators[Math.floor(Math.random() * operators.length)];
    let result;

    switch (operator) {
      case "+":
        result = a + b;
        break;
      case "-":
        result = a - b;
        break;
      case "×":
        result = a * b;
        break;
    }

    problems.push({ a, b, operator, result });
  }

  return problems;
}
const problems = generateRandomMathProblems(26);
let level = "easy";
---

<Layout>
  <div class="py-10 px-10 print:p-0 max-w-3xl mx-auto">
    <div class="text-center print:hidden mb-10">
      <Logo />
    </div>

    <div
      class="bg-white border-gray-200 border mx-auto shadow-lg p-10 print:border-0 print:shadow-none"
    >
      <Sheet client:load />
    </div>
    <div class="text-center mt-8 text-gray-500 print:hidden">
      create by <a href="https://papazeal.com">papazeal.com</a>
    </div>
  </div>
</Layout>
