---
import "/src/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Math Sheet • Math Worksheet Generator</title>
    <meta
      name="description"
      content="Generate custom math worksheets instantly! Perfect for teachers, parents, and students. Try it now!"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  @media print {
    body {
      -webkit-print-color-adjust: exact;
    }
    html,
    body {
      height: 100% !important;
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden;
    }
  }
  @page {
    margin: 0;
  }
</style>
